body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.topbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    background-color: rgb(30, 6, 252);
    color: white;
    height: 8vh;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-evenly;
}

.search-section{
    display: flex;
    flex-direction: column;
    width: 25vw;
    margin: 0 0 0 10px;
}

h3{
    font-size: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10px 0 10px 0;
}

.form-input{
    margin: 0 0 10px 0;
    height: 3vh;
}

.searchBtn{
    color: white;
    background-color: rgb(0, 119, 255);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
}

.prevSearchBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(147, 158, 172);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    height: 4vh;
    width: 25vw;
    margin-bottom: 8px;
}

.gang{
    border: solid;
    height: 30vh;
    width: 70vw;
    background-color: rgb(219, 219, 219);
}

.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: start;
    margin-bottom: 10px;
    color: rgb(29, 29, 29);
}

#infoTwo{
    margin-left: 10px;
}


#temp{
    font-size: 25px;
    margin: 0 0 15px 0;
}

#wind{
    font-size: 25px;
    margin: 0 0 15px 0;
}

#humidity{
    font-size: 25px;
    margin: 0 0 15px 0;
}

#uvIndex{
    font-size: 25px;
    margin: 0 0 5px 0;
    display: inline-block;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card1{
    border: solid;
    height: 25vh;
    width: 13vw;
    background-color: rgb(0, 0, 252);
}

.card2{
    border: solid;
    height: 25vh;
    width: 13vw;
    background-color: rgb(0, 0, 252);
}

.card3{
    border: solid;
    height: 25vh;
    width: 13vw;
    background-color: rgb(0, 0, 252);}

.card4{
    border: solid;
    height: 25vh;
    width: 13vw;
    background-color: rgb(0, 0, 252);}

.card5{
    border: solid;
    height: 25vh;
    width: 13vw;
    background-color: rgb(0, 0, 252);}

h5{
    font-size: 50px;
}

#cityName{
    font-size: 4vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;
    margin-left: 10px;
    text-shadow: 5px 5px 10px rgb(77, 77, 77);
}


#currentDay{
    font-size: 4vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    text-shadow: 5px 5px 10px rgb(77, 77, 77);
}

#date1{
    font-size: 30px;
    margin: 5px 0 0 5px;
    color: white;
}

#date2{
    font-size: 30px;
    margin: 5px 0 0 5px;
    color: white;
}

#date3{
    font-size: 30px;
    margin: 5px 0 0 5px;
    color: white;
}

#date4{
    font-size: 30px;
    margin: 5px 0 0 5px;
    color: white;
}

#date5{
    font-size: 30px;
    margin: 5px 0 0 5px;
    color: white;
}

.forecastText{
    font-size: 23px;
    margin: 0 0 13px 5px;
    color: white;
}
